.imgvideo{
    object-fit: cover;
    width: 120px;
    height: 120px;
}      

.imgcard{
    display: contents;
    position: relative;
    height: auto;
}

.cardhorizontal{
    display: flex;
    flex: 1 1 auto;
}

.imgwrapper{
    width: 140px;
}

.girdbody{
    display: grid;
}